# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\BangoSydneyMolobela\OneDrive - MQ Finance (Pty) Ltd\Documents\blaqniz\Upskill\Matchidiso\enviro-bank\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
